@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navColor{
    background-color: #FE5E44;
}
.colorButton{
    color: #FE5E44;
}
.bgButton{
    background-color: #FE5E44;
}